{% extends "header.html" %}
{% block content %}

    <div class="container">
        <div style="  padding: 20px;  margin: 0 auto; min-height: 100%; overflow: hidden;">



                    <h1>Thank You, {{request.user.first_name}} {{ request.user.last_name }} your class contract is being reviewed</h1>

                    <p>You will be redirected to the home page in 5 seconds</p>
                    <script>
                        var timer = setTimeout(function() {
                            window.location='http://localhost:8000'
                        }, 5000);
                    </script>


        </div>
    </div>

{% endblock %}