{% extends "header.html" %}
{% block content %}

    <div class="container">
        <div style=" max-width: 40%; padding: 20px; background-color: #d6d8d9; margin: 0 auto; min-height: 100%; overflow: hidden;">

            <form method="post" action="/browse/bookingConfirm/">
                <p hidden><input type="text" name="contract_period" value="{{contract_period}}"></input></p>

                <p hidden><input type="text" name="selected_instrument" value="{{selected_instrument}}"></input></p>
                {% csrf_token %}

                <label>Name:</label>
                {{ FirstName }} {{ LastName }}
                <br>
                <label>Instrument:</label>
                {{instrument}}
                <br>
                <label>Contract length:</label>
                {{contract_period}}
                {% if contract_period == '1' %}
                month
                {% else %}
                months
                {% endif %}
                <br>
                <label>Lesson details:</label>
                {% if newStudent %}
                <p hidden><input type="text" name="timePeriod" value="{{timePeriod}}"></input></p>
                <p hidden><input type="text" name="day" value={{day}}></input></p>
                <p hidden><input type="text" name="time" value={{time}}></input></p>
                    <div style="background-color: #bcc2cc; padding: 3px;">
                        Time: {{ ft }}
                        {% if timePeriod == 'full' %}
                            Duration: 60 minutes
                        {% else %}
                            Duration: 30 minutes
                        {% endif %}&nbsp&nbsp&nbsp&nbsp{{ day }}&nbsp&nbsp&nbsp

                    </div>

                {% else %}
                    <p hidden><input type="text" name="timePeriod1" value="{{timePeriod1}}"></input></p>
                    <p hidden><input type="text" name="timePeriod2" value="{{timePeriod2}}"></input></p>
                    <p hidden><input type="text" name="timePeriod3" value="{{timePeriod3}}"></input></p>
                    <p hidden><input type="text" name="day1" value={{day1}}></input></p>
                    <p hidden><input type="text" name="day2" value={{day2}}></input></p>
                    <p hidden><input type="text" name="day3" value={{day3}}></input></p>
                    <p hidden><input type="text" name="time1" value={{time1}}></input></p>
                    <p hidden><input type="text" name="time2" value={{time2}}></input></p>
                    <p hidden><input type="text" name="time3" value={{time3}}></input></p>


                    <div style="background-color: #bcc2cc; padding: 3px;">
                        Time: {{ ft1 }}&nbsp&nbsp&nbsp
                        {% if timePeriod1 == 'full' %}
                            Duration: 60 minutes
                        {% else %}
                            Duration: 30 minutes
                        {% endif %}&nbsp&nbsp&nbsp&nbsp{{ day1 }}
                    </div>

                    <div style=" padding: 3px;";></div>

                    <div style="background-color: #bcc2cc; padding: 3px;">
                        Time: {{ ft2 }}&nbsp&nbsp&nbsp
                        {% if timePeriod2 == 'full' %}
                            Duration: 60 minutes
                        {% else %}
                            Duration: 30 minutes
                        {% endif %}&nbsp&nbsp&nbsp&nbsp{{ day2 }}
                    </div>

                    <div style=" padding: 3px;";></div>

                    <div style="background-color: #bcc2cc; padding: 3px;">
                        Time: {{ ft3 }}&nbsp&nbsp&nbsp
                        {% if timePeriod3 == 'full' %}
                            Duration: 60 minutes
                        {% else %}
                            Duration: 30 minutes
                        {% endif %}&nbsp&nbsp&nbsp&nbsp{{ day3 }}
                    </div>

                {% endif %}

                <br>
                <br>

                <button type="submit" style="background-color: #4CAF50; cursor: pointer; border-radius: 3px; border: none; color: white;padding: 7px 10px; text-decoration: none;margin: 4px 2px; float: right;">Submit</button>
                <a type="button" href='/browse/' style="background-color: #adb19c; -webkit-appearance: none; border-radius: 3px; border: none; color: white;padding: 7px 10px; text-decoration: none;margin: 4px 2px; float: right;">Cancel</a>


            </form>
        </div>
    </div>

{% endblock %}