{% extends "header.html" %}
{% block content %}
<div class="container">
    <center>
        <form id="id_bookLessons" name="bookLessons" method="post" action="/browse/lessonConfirm/" name="bookLessons">
            {% csrf_token %}
        <label><b>Choose your lesson time.</b></label>
        {% if newStudent %}
            {% if instrument == 'electric_guitar' %}
                {% if timePeriod == 'half' %}
                    <br>
                    <select id="id_instruments" name="instruments">
                        {% for i in timeSheet.electric_guitar_half_hour %}
                            <option value="electric_guitar">{{i}}</option>
                        {% endfor %}

                    </select>
                {% else %}
                    <br>
                    <select id="id_instruments" name="instruments">
                        {% for i in timeSheet.electric_guitar_hour %}
                        <option value="electric_guitar">{{i}}</option>
                        {% endfor %}

                    </select>

                {% endif %}

            {% endif %}

            {% if instrument == 'keyboard' %}
                {% if timePeriod == 'half' %}
                    <br>
                    <select id="id_instruments" name="instruments">
                        {% for i in timeSheet.keyboard_half_hour %}
                            <option value="keyboard">{{i}}</option>
                        {% endfor %}

                    </select>
                {% else %}
                    <br>
                    <select id="id_instruments" name="instruments">
                        {% for i in timeSheet.keyboard_hour %}
                            <option value="keyboard">{{i}}</option>
                        {% endfor %}

                    </select>

                {% endif %}

            {% endif %}

            {% if instrument == 'piano' %}
                {% if timePeriod == 'half' %}
                    <br>
                    <select id="id_instruments" name="instruments">
                        {% for i in timeSheet.piano_half_hour %}
                            <option value="piano">{{i}}</option>
                        {% endfor %}

                    </select>
                {% else %}
                    <br>
                    <select id="id_instruments" name="instruments">
                        {% for i in timeSheet.piano_hour %}
                            <option value="piano">{{i}}</option>
                        {% endfor %}

                    </select>

                {% endif %}

            {% endif %}

            {% if instrument == 'guitar' %}
                {% if timePeriod == 'half' %}
                    <br>
                    <select id="id_instruments" name="instruments">
                        {% for i in timeSheet.guitar_half_hour %}
                            <option value="guitar">{{i}}</option>
                        {% endfor %}

                    </select>
                {% else %}
                    <br>
                    <select id="id_instruments" name="instruments">
                        {% for i in timeSheet.guitar_hour %}
                            <option value="guitar">{{i}}</option>
                        {% endfor %}

                    </select>

                {% endif %}

            {% endif %}

            {% if instrument == 'drums' %}
                {% if timePeriod == 'half' %}
                    <br>
                    <select id="id_instruments" name="instruments">
                        {% for i in timeSheet.drums_half_hour %}
                            <option value="drums">{{i}}</option>
                        {% endfor %}

                    </select>
                {% else %}
                    <br>
                    <select id="id_instruments" name="instruments">
                        {% for i in timeSheet.drums_hour %}
                            <option value="drums">{{i}}</option>
                        {% endfor %}

                    </select>

                {% endif %}

            {% endif %}

            {% if instrument == 'violin' %}
                {% if timePeriod == 'half' %}
                    <br>
                    <select id="id_instruments" name="instruments">
                        {% for i in timeSheet.violin_half_hour %}
                            <option value="violin">{{i}}</option>
                        {% endfor %}

                    </select>
                {% else %}
                    <br>
                    <select id="id_instruments" name="instruments">
                        {% for i in timeSheet.violin_hour %}
                            <option value="violin">{{i}}</option>
                        {% endfor %}

                    </select>

                {% endif %}

            {% endif %}

            {% if instrument == 'saxophone' %}
                {% if timePeriod == 'half' %}
                    <br>
                    <select id="id_instruments" name="instruments">
                        {% for i in timeSheet.saxophone_half_hour %}
                            <option value="saxophone">{{i}}</option>
                        {% endfor %}

                    </select>
                {% else %}
                    <br>
                    <select id="id_instruments" name="instruments">
                        {% for i in timeSheet.saxophone_hour %}
                            <option value="saxophone">{{i}}</option>
                        {% endfor %}

                    </select>

                {% endif %}

            {% endif %}

            {% if instrument == 'flute' %}
                {% if timePeriod == 'half' %}
                    <br>
                    <select id="id_instruments" name="instruments">
                        {% for i in timeSheet.flute_half_hour %}
                            <option value="flute">{{i}}</option>
                        {% endfor %}

                    </select>
                {% else %}
                    <br>
                    <select id="id_instruments" name="instruments">
                        {% for i in timeSheet.flute_hour %}
                            <option value="flute">{{i}}</option>
                        {% endfor %}

                    </select>

                {% endif %}

            {% endif %}

            {% if instrument == 'cello' %}
                {% if timePeriod == 'half' %}
                    <br>
                    <select id="id_instruments" name="instruments">
                        {% for i in timeSheet.cello_half_hour %}
                            <option value="cello">{{i}}</option>
                        {% endfor %}

                    </select>
                {% else %}
                    <br>
                    <select id="id_instruments" name="instruments">
                        {% for i in timeSheet.cello_hour %}
                            <option value="cello">{{i}}</option>
                        {% endfor %}

                    </select>

                {% endif %}

            {% endif %}

            {% if instrument == 'clarinet' %}
                {% if timePeriod == 'half' %}
                    <br>
                    <select id="id_instruments" name="instruments">
                        {% for i in timeSheet.clarinet_half_hour %}
                            <option value="clarinet">{{i}}</option>
                        {% endfor %}

                    </select>
                {% else %}
                    <br>
                    <select id="id_instruments" name="instruments">
                        {% for i in timeSheet.clarinet_hour %}
                            <option value="clarinet">{{i}}</option>
                        {% endfor %}

                    </select>

                {% endif %}

            {% endif %}





        <!--<div class="col-sm">-->
            <!--{% if timePeriod == 'half' %}-->
                <!--{% for key, value in timeSheet.items %}-->
                    <!--{% if key == instrument_time_half %}-->
                        <!--<li>{{key}}-:-{{value}}</li>-->
                        <!--{% for k, v in key.items %}-->
                            <!--<li>{{k}}=:={{v}}</li>-->
                        <!--{% endfor %}-->
                    <!--{% endif %}-->

                <!--{% endfor %}-->

            <!--{% else %}-->
                <!--{% for key, value in timeSheet.items %}-->
                    <!--{% if key == instrument_time_full %}-->
                        <!--<li>{{key}}-:-{{value}}</li>-->
                        <!--{% for k, v in key.items %}-->
                            <!--<li>{{k}}=:={{v}}</li>-->
                        <!--{% endfor %}-->
                    <!--{% endif %}-->

                <!--{% endfor %}-->
            <!--{% endif %}-->

        {% else %}
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <br>
                        <b>1st Class</b><br>
                        {% if instrument == 'electric_guitar' %}
                            {% if timePeriod11 == 'half' %}
                            <br>
                                <select id="id_instruments" name="instruments">
                                    {% for i in timeSheet.electric_guitar_half_hour %}
                                        <option value="electric_guitar">{{i}}</option>
                                    {% endfor %}

                                </select>
                            {% else %}
                                <br>
                                <select id="id_instruments" name="instruments">
                                    {% for i in timeSheet.electric_guitar_hour %}
                                        <option value="electric_guitar">{{i}}</option>
                                    {% endfor %}

                                </select>

                            {% endif %}

                        {% endif %}

                        {% if instrument == 'keyboard' %}
                        {% if timePeriod1 == 'half' %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.keyboard_half_hour %}
                            <option value="keyboard">{{i}}</option>
                            {% endfor %}

                        </select>
                        {% else %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.keyboard_hour %}
                            <option value="keyboard">{{i}}</option>
                            {% endfor %}

                        </select>

                        {% endif %}

                        {% endif %}

                        {% if instrument == 'piano' %}
                        {% if timePeriod1 == 'half' %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.piano_half_hour %}
                            <option value="piano">{{i}}</option>
                            {% endfor %}

                        </select>
                        {% else %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.piano_hour %}
                            <option value="piano">{{i}}</option>
                            {% endfor %}

                        </select>

                        {% endif %}

                        {% endif %}

                        {% if instrument == 'guitar' %}
                        {% if timePeriod1 == 'half' %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.guitar_half_hour %}
                            <option value="guitar">{{i}}</option>
                            {% endfor %}

                        </select>
                        {% else %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.guitar_hour %}
                            <option value="guitar">{{i}}</option>
                            {% endfor %}

                        </select>

                        {% endif %}

                        {% endif %}

                        {% if instrument == 'drums' %}
                        {% if timePeriod1 == 'half' %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.drums_half_hour %}
                            <option value="drums">{{i}}</option>
                            {% endfor %}

                        </select>
                        {% else %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.drums_hour %}
                            <option value="drums">{{i}}</option>
                            {% endfor %}

                        </select>

                        {% endif %}

                        {% endif %}

                        {% if instrument == 'violin' %}
                        {% if timePeriod1 == 'half' %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.violin_half_hour %}
                            <option value="violin">{{i}}</option>
                            {% endfor %}

                        </select>
                        {% else %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.violin_hour %}
                            <option value="violin">{{i}}</option>
                            {% endfor %}

                        </select>

                        {% endif %}

                        {% endif %}

                        {% if instrument == 'saxophone' %}
                        {% if timePeriod1 == 'half' %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.saxophone_half_hour %}
                            <option value="saxophone">{{i}}</option>
                            {% endfor %}

                        </select>
                        {% else %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.saxophone_hour %}
                            <option value="saxophone">{{i}}</option>
                            {% endfor %}

                        </select>

                        {% endif %}

                        {% endif %}

                        {% if instrument == 'flute' %}
                        {% if timePeriod1 == 'half' %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.flute_half_hour %}
                            <option value="flute">{{i}}</option>
                            {% endfor %}

                        </select>
                        {% else %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.flute_hour %}
                            <option value="flute">{{i}}</option>
                            {% endfor %}

                        </select>

                        {% endif %}

                        {% endif %}

                        {% if instrument == 'cello' %}
                        {% if timePeriod1 == 'half' %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.cello_half_hour %}
                            <option value="cello">{{i}}</option>
                            {% endfor %}

                        </select>
                        {% else %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.cello_hour %}
                            <option value="cello">{{i}}</option>
                            {% endfor %}

                        </select>

                        {% endif %}

                        {% endif %}

                        {% if instrument == 'clarinet' %}
                        {% if timePeriod1 == 'half' %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.clarinet_half_hour %}
                            <option value="clarinet">{{i}}</option>
                            {% endfor %}

                        </select>
                        {% else %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.clarinet_hour %}
                            <option value="clarinet">{{i}}</option>
                            {% endfor %}

                        </select>

                        {% endif %}

                        {% endif %}

                    </div>
                    <div class="col-sm">
                        <br>
                        <b>2nd Class</b><br>
                        {% if instrument == 'electric_guitar' %}
                        {% if timePeriod2timePeriod3 == 'half' %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.electric_guitar_half_hour %}
                            <option value="electric_guitar">{{i}}</option>
                            {% endfor %}

                        </select>
                        {% else %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.electric_guitar_hour %}
                            <option value="electric_guitar">{{i}}</option>
                            {% endfor %}

                        </select>

                        {% endif %}

                        {% endif %}

                        {% if instrument == 'keyboard' %}
                        {% if timePeriod2timePeriod3 == 'half' %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.keyboard_half_hour %}
                            <option value="keyboard">{{i}}</option>
                            {% endfor %}

                        </select>
                        {% else %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.keyboard_hour %}
                            <option value="keyboard">{{i}}</option>
                            {% endfor %}

                        </select>

                        {% endif %}

                        {% endif %}

                        {% if instrument == 'piano' %}
                        {% if timePeriod2timePeriod3 == 'half' %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.piano_half_hour %}
                            <option value="piano">{{i}}</option>
                            {% endfor %}

                        </select>
                        {% else %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.piano_hour %}
                            <option value="piano">{{i}}</option>
                            {% endfor %}

                        </select>

                        {% endif %}

                        {% endif %}

                        {% if instrument == 'guitar' %}
                        {% if timePeriod2timePeriod3 == 'half' %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.guitar_half_hour %}
                            <option value="guitar">{{i}}</option>
                            {% endfor %}

                        </select>
                        {% else %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.guitar_hour %}
                            <option value="guitar">{{i}}</option>
                            {% endfor %}

                        </select>

                        {% endif %}

                        {% endif %}

                        {% if instrument == 'drums' %}
                        {% if timePeriod2timePeriod3 == 'half' %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.drums_half_hour %}
                            <option value="drums">{{i}}</option>
                            {% endfor %}

                        </select>
                        {% else %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.drums_hour %}
                            <option value="drums">{{i}}</option>
                            {% endfor %}

                        </select>

                        {% endif %}

                        {% endif %}

                        {% if instrument == 'violin' %}
                        {% if timePeriod2timePeriod3 == 'half' %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.violin_half_hour %}
                            <option value="violin">{{i}}</option>
                            {% endfor %}

                        </select>
                        {% else %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.violin_hour %}
                            <option value="violin">{{i}}</option>
                            {% endfor %}

                        </select>

                        {% endif %}

                        {% endif %}

                        {% if instrument == 'saxophone' %}
                        {% if timePeriod2timePeriod3 == 'half' %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.saxophone_half_hour %}
                            <option value="saxophone">{{i}}</option>
                            {% endfor %}

                        </select>
                        {% else %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.saxophone_hour %}
                            <option value="saxophone">{{i}}</option>
                            {% endfor %}

                        </select>

                        {% endif %}

                        {% endif %}

                        {% if instrument == 'flute' %}
                        {% if timePeriod2timePeriod3 == 'half' %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.flute_half_hour %}
                            <option value="flute">{{i}}</option>
                            {% endfor %}

                        </select>
                        {% else %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.flute_hour %}
                            <option value="flute">{{i}}</option>
                            {% endfor %}

                        </select>

                        {% endif %}

                        {% endif %}

                        {% if instrument == 'cello' %}
                        {% if timePeriod2timePeriod3 == 'half' %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.cello_half_hour %}
                            <option value="cello">{{i}}</option>
                            {% endfor %}

                        </select>
                        {% else %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.cello_hour %}
                            <option value="cello">{{i}}</option>
                            {% endfor %}

                        </select>

                        {% endif %}

                        {% endif %}

                        {% if instrument == 'clarinet' %}
                        {% if timePeriod2 == 'half' %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.clarinet_half_hour %}
                            <option value="clarinet">{{i}}</option>
                            {% endfor %}

                        </select>
                        {% else %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.clarinet_hour %}
                            <option value="clarinet">{{i}}</option>
                            {% endfor %}

                        </select>

                        {% endif %}

                        {% endif %}

                    </div>
                    <div class="col-sm">
                        <br>
                        <b>3rd Class</b><br>
                        {% if instrument == 'electric_guitar' %}
                        {% if timePeriod3 == 'half' %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.electric_guitar_half_hour %}
                            <option value="electric_guitar">{{i}}</option>
                            {% endfor %}

                        </select>
                        {% else %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.electric_guitar_hour %}
                            <option value="electric_guitar">{{i}}</option>
                            {% endfor %}

                        </select>

                        {% endif %}

                        {% endif %}

                        {% if instrument == 'keyboard' %}
                        {% if timePeriod3 == 'half' %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.keyboard_half_hour %}
                            <option value="keyboard">{{i}}</option>
                            {% endfor %}

                        </select>
                        {% else %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.keyboard_hour %}
                            <option value="keyboard">{{i}}</option>
                            {% endfor %}

                        </select>

                        {% endif %}

                        {% endif %}

                        {% if instrument == 'piano' %}
                        {% if timePeriod3 == 'half' %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.piano_half_hour %}
                            <option value="piano">{{i}}</option>
                            {% endfor %}

                        </select>
                        {% else %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.piano_hour %}
                            <option value="piano">{{i}}</option>
                            {% endfor %}

                        </select>

                        {% endif %}

                        {% endif %}

                        {% if instrument == 'guitar' %}
                        {% if timePeriod3 == 'half' %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.guitar_half_hour %}
                            <option value="guitar">{{i}}</option>
                            {% endfor %}

                        </select>
                        {% else %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.guitar_hour %}
                            <option value="guitar">{{i}}</option>
                            {% endfor %}

                        </select>

                        {% endif %}

                        {% endif %}

                        {% if instrument == 'drums' %}
                        {% if timePeriod3 == 'half' %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.drums_half_hour %}
                            <option value="drums">{{i}}</option>
                            {% endfor %}

                        </select>
                        {% else %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.drums_hour %}
                            <option value="drums">{{i}}</option>
                            {% endfor %}

                        </select>

                        {% endif %}

                        {% endif %}

                        {% if instrument == 'violin' %}
                        {% if timePeriod3 == 'half' %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.violin_half_hour %}
                            <option value="violin">{{i}}</option>
                            {% endfor %}

                        </select>
                        {% else %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.violin_hour %}
                            <option value="violin">{{i}}</option>
                            {% endfor %}

                        </select>

                        {% endif %}

                        {% endif %}

                        {% if instrument == 'saxophone' %}
                        {% if timePeriod3 == 'half' %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.saxophone_half_hour %}
                            <option value="saxophone">{{i}}</option>
                            {% endfor %}

                        </select>
                        {% else %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.saxophone_hour %}
                            <option value="saxophone">{{i}}</option>
                            {% endfor %}

                        </select>

                        {% endif %}

                        {% endif %}

                        {% if instrument == 'flute' %}
                        {% if timePeriod3 == 'half' %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.flute_half_hour %}
                            <option value="flute">{{i}}</option>
                            {% endfor %}

                        </select>
                        {% else %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.flute_hour %}
                            <option value="flute">{{i}}</option>
                            {% endfor %}

                        </select>

                        {% endif %}

                        {% endif %}

                        {% if instrument == 'cello' %}
                        {% if timePeriod3 == 'half' %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.cello_half_hour %}
                            <option value="cello">{{i}}</option>
                            {% endfor %}

                        </select>
                        {% else %}
                        <br>
                        <select id="id_instruments" name="instruments">
                            {% for i in timeSheet.cello_hour %}
                            <option value="cello">{{i}}</option>
                            {% endfor %}

                        </select>

                        {% endif %}

                        {% endif %}

                        {% if instrument == 'clarinet' %}
                            {% if timePeriod3 == 'half' %}
                                <br>
                                <select id="id_instruments" name="instruments">
                                    {% for i in timeSheet.clarinet_half_hour %}
                                        <option value="clarinet">{{i}}</option>
                                    {% endfor %}

                                </select>
                            {% else %}
                                <br>
                                <select id="id_instruments" name="instruments">
                                    {% for i in timeSheet.clarinet_hour %}
                                        <option value="clarinet">{{i}}</option>
                                    {% endfor %}

                                </select>

                            {% endif %}

                        {% endif %}

                    </div>
                </div>
            </div>
        {% endif %}
            <br><br>
            <button type="submit" class="btn btn-primary">SUBMIT</button>

        </form>
    </center>
</div>
{% endblock %}