{% extends "header.html" %}
{% block content %}

    <center>
        <h1>Invalid username or password!</h1>
        <font color="red"><h2>Your Username or Password is incorrect. Please check them and try again</h2></font>
    </center>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <h2>Sign in</h2>
                <br>
                <form method="post">

                    {% csrf_token %}
                    {{ form.as_p }}
                    ID:<br>
                    <input type="text" name="Username" value="">
                    <br>
                    Password:<br>
                    <input type="text" name="Password" value="">
                    <br><br>
                    <a class="link" href='/CreateAccount/'>Create an account</a>
                    <br><br>
                    <button type="submit">Login</button>
                </form>
            </div>

            <div class="col-sm">

            </div>
        </div>
    </div>

{% endblock %}