{% extends "header.html" %}
{% block content %}
    <h2>Sign in</h2>
    <br>
    <form method="post">

            ID:<br>
            <input type="text" name="Username" value=" ">
            <br>
            Password:<br>
            <input type="text" name="Password" value=" ">
            <br><br>


            <a class="link" href='/CreateAccount/'>Create an account</a>



        <br><br>


        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>



    </form>
{% endblock %}