{% extends "header.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <h2>Sign in</h2>
            <br>
            <form method="post">

                {% csrf_token %}
                {{ form.as_p }}
                ID:<br>
                <input type="text" name="Username" value="">
                <br>
                Password:<br>
                <input type="password" name="Password" value="">
                <br><br>
                <a class="link" href='/create_account/'>Create an account</a>
                <p>Forgot your password or username? <a class="link" href='/login/retrieveAccount/'>Click Here</a> to retrieve them.</p>
                <br><br>
                <button type="submit">Login</button>
            </form>
        </div>

        <div class="col-sm">

        </div>
    </div>
</div>


{% endblock %}