{% extends "header.html" %}

{% block content %}

    <div class="container">

        <form method="post">
            {% csrf_token %}

            <label>Full name: *</label>
            <input type="text" class="form-control" name="FullName" required>


            <label>Date of Birth: *</label>
            <input type="date" class="form-control" name="DoB" required>


            <label>Home address:</label>
            <input type="text" class="form-control" name="HomeAddress">


            <label>Email address: *</label>
            <input type="email" class="form-control" name="email" required>


            <label>Phone Number: *</label>
            <input type="text" class="form-control" name="pNumber" required>


            <label>Qualifications: * (e.g. certificates, experience)</label>
            <textarea class="form-control" rows="4" name="certificates" required></textarea>


            <label>Subject you would like to teach:</label>
            <textarea class="form-control" rows="2" name="subjects" ></textarea>


            <p>Upload your resume below *</p>

            <input type="file" class="custom-file-input" id="customFile" required>
            <label class="custom-file-label" for="customFile">Choose file</label>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock %}



