{% extends "header.html" %}
{% block content %}


    <div class="col-sm">
        What makes Pinelands Music School
        <br>
        <br>
        Our lives are filled with organic rhythm, whether it be the beat of our hearts or the ability to tap out a rhythm from the day we're born.
        Here at Pinelands Music School, we recognise the importance and the influence that sound and rhythm holds over our lives,
        which is why we work towards encouraging and supporting every child to fully explore their ingrained rhythmatic abilities and make music a friend for life.
        <br>
        We strive to ensure each child's musical education is as enriching as it is fun and enjoyable. By methodically combining both the traditional approach
        to teaching classical and modern styles of music, with a fun filled, interactive and supportive learning environment, we believe that we can bring the best
        out of all young aspiring musicians.
    </div>

{% endblock %}