{% extends "header.html" %}

{% block content %}
    Report Generation
    <a href="/staffManagement/reportGeneration/" > click here </a>
    <br>
    <br>
    <br>
    <br>
    Edit the Database
    <a href="/staffManagement/EdittheDatabase/" > click here </a>
    <br>
    <br>
    <br>
    <br>
    Post Event
    <a href="/staffManagement/PostEvent/" > click here </a>
    <br>
    <br>
    <br>
    <br>
    Contract Approval
    <a href="/staffManagement/ContractApproval/" > click here </a>
    <br>
    <br>
    <br>
    <br>
    Staff Management
    <a href="/staffManagement/StaffManagement/" > click here </a>
{% endblock %}

localhost:8000

