{% extends "header.html" %}

{% block content %}
    Report Generation
    <a href="/staffManagement/reportGeneration/" > click here </a>
    <br>
    <br>
    <br>
    <br>
    Edit the Database
    <a href="/admin/" > click here </a>
    <br>
    <br>
    <br>
    <br>
    Post Event
    <a href="/staffManagement/postEvent/" > click here </a>
    <br>
    <br>
    <br>
    <br>
    Contract Approval
    <a href="/staffManagement/contractApproval/" > click here </a>
{% endblock %}

localhost:8000

