{% extends "header.html" %}
{% block content %}


    <div class="col-sm">
        <br><br>
        <a class="link" href='/Manage_Bookings/'>ManageBookings</a>

        <br><br>
        <a class="link" href='/BookLesson/'>Book a lesson</a>

        <br><br>
        <a class="link" href='/ManageContract/'>Manage Contracts</a>

        <br><br>
        <a class="link" href='/HireIntstrument/'>Hire Instruments</a>

        <br><br>
        <a class="link" href='/ConfirmContract/'>Confirm Contracts</a>

        <br><br>
        <a class="link" href='/Feedback/'>Give Feedback</a>

        <br><br>

    </div>

{% endblock %}