{% extends "header.html" %}
{% block content %}


    <div class="col-sm">
        <br><br>
        <a class="link" href='/account/Manage_Bookings/'>ManageBookings</a>

        <br><br>
        <a class="link" href='/account/BookLesson/'>Book a lesson</a>

        <br><br>
        <a class="link" href='/account/ManageContract/'>Manage Contracts</a>

        <br><br>
        <a class="link" href='/account/HireIntstrument/'>Hire Instruments</a>

        <br><br>
        <a class="link" href='/account/ConfirmContract/'>Confirm Contracts</a>

        <br><br>
        <a class="link" href='/account/Feedback/'>Give Feedback</a>

        <br><br>

    </div>

{% endblock %}