{% extends "header.html" %}
{% block content %}


    <div class="col-sm">
        <br>
        Music School is located at 1 Music Lane Chermside Brisbane 4032 QLD
        <br><br>

        CEO: <a class="link" href='/contactus/profile/'>Mika Willams</a><br>
        Ph: 07 785 234<br>
        Fax: 558 939 43 <br>
        Email: MikaW@musicschool.com.au <br>
        <a href="https://www.facebook.com">Facebook</a> <br>


        <br>
        <br>

        Admin: <a class="link" href='/contactus/profile/'>Jane Smith</a> <br>
        Ph: 07 543 133<br>
        Fax: 553 234 63<br>
        Email: JaneS@musicschool.com.au <br>
        <a href="https://www.facebook.com">Facebook</a><br>

        <br>
        <br>
        Music Teacher: <a class="link" href='/contactus/profile/'>Liz Johnson</a><br>
        Ph: 07 123 437<br>
        Fax: 559 534 12<br>
        Email: LizJ@musicschool.com.au <br>
        <a href="https://www.facebook.com">Facebook</a><br>

        <br>
        <br>
        Music Teacher: <a class="link" href='/contactus/profile/'>Mark King</a><br>
        Ph: 07 987 239<br>
        Fax: 557 317 10<br>
        Email: MarkK@musicschool.com.au <br>
        <a href="https://www.facebook.com">Facebook</a><br>

        <br>
        <br>
        Music Teacher: <a class="link" href='/contactus/profile/'>John Wick</a><br>
        Ph: 07 773 234<br>
        Fax: 554 309 98<br>
        Email: JohnW@musicschool.com.au <br>
        <a href="https://www.facebook.com">Facebook</a><br>
        <br>
        <br>


    </div>

{% endblock %}