{% extends "header.html" %}
{% block content %}


    <div class="col-sm">
        <br>
        Music School is located at 1 Music Lane Chermside Brisbane 4032 QLD
        <br><br>

        CEO: Mika Williams<br>
        Ph: 07 785 234<br>
        Fax: 558 939 43 <br>
        Email: MikaW@musicschool.com.au <br>
        <a href="https://www.facebook.com">Facebook</a> <br>
        <a class="link" href='/contactus/profile/'>profile</a>

        <br>
        <br>

        Admin: Jane Smith <br>
        Ph: 07 543 133<br>
        Fax: 553 234 63<br>
        Email: JaneS@musicschool.com.au <br>
        <a href="https://www.facebook.com">Facebook</a><br>
        <a class="link" href='/contactus/profile/'>profile</a>
        <br>
        <br>
        Music Teacher: Liz Johnson<br>
        Ph: 07 123 437<br>
        Fax: 559 534 12<br>
        Email: LizJ@musicschool.com.au <br>
        <a href="https://www.facebook.com">Facebook</a><br>
        <a class="link" href='/contactus/profile/'>profile</a>
        <br>
        <br>
        Music Teacher: Mark King<br>
        Ph: 07 987 239<br>
        Fax: 557 317 10<br>
        Email: MarkK@musicschool.com.au <br>
        <a href="https://www.facebook.com">Facebook</a><br>
        <a class="link" href='/contactus/profile/'>profile</a>
        <br>
        <br>
        Music Teacher: John Wick<br>
        Ph: 07 773 234<br>
        Fax: 554 309 98<br>
        Email: JohnW@musicschool.com.au <br>
        <a href="https://www.facebook.com">Facebook</a><br>
        <a class="link" href='/contactus/profile/'>profile</a>
        <br>
        <br>


    </div>

{% endblock %}